* {
    padding: 0px;
    margin: 0px;
    font-family: 'Trebuchet MS', sans-serif;

}

nav{
    width: 100%;
    text-align: right;
    border-bottom: 10px solid darkgoldenrod;
}

nav li{
    line-height: 60px;
    font-size: 150%;
    display: inline;
    list-style: none;
    padding-right: 15px;
}

a:link,
a:visited{
    color: white;
    text-decoration: none;
}

a:hover{
    background-color: darkgoldenrod;
    padding: 5px;
    border-radius: 10%;
}

main{
    text-align: center;
    line-height: 50px;
}

section{
    padding: 20px;
    border-top: 5px solid darkgoldenrod;
    background-color: goldenrod;
}

form{
    /* display: inline; */
    margin: auto;
    border: 2px solid black;
    border-radius: 20px;
    width: 400px;
}

form ul{
    list-style: none;
    display: inline;
}

footer{
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid grey;

}


.green_back{
    background-color: darkslategrey;
    color: white;
}